#cuerpo{
    height: 107% !important;
    padding-left: 4% !important;
}
#localizador_box{
    font-size: 120% !important;
}
body {
    font-size: 2.8vmin !important;
}
/*.infoInputLogin{*/
    /*font-size: 60% !important;*/
/*}*/
