<!--<div data-ng-controller="datePickerCtrl">-->
    <!--<div class="row sinpadding">-->
        <!--<span class="col-xs-3 text-right" translate="loc_Desde"></span><span class="col-xs-1  text-left">: </span><span class="col-xs-4" data-ng-bind="sel.fechas.desde | date:'dd-MM-yyyy'"></span>-->
        <!--<div name="ventas" class="col-xs-3 text-left" uib-datepicker-popup data-ng-model="sel.fechas.desde" is-open="popup2.opened" datepicker-options="dateOptions"-->
             <!--show-button-bar="false" data-ng-required="true" data-ng-change="completeObj($event)">-->
            <!--<i class="glyphicon glyphicon-calendar" data-ng-click="open2()"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>